<h1>Lista de Usuarios</h1>
<table border=1 bordercolor="#A52A2A">
  <tr>
    <th></th>
    <th>Nome</th>
    <th>CPF</th>
    <th>e-mail</th>
    <th>Carteira</th>
    <th>Telefone</th>
    <th>Endereço</th>
    <th>S</th>
    <th>E</th>
    <th>D</th>
  </tr>

<%= render partial: "list", object: @users %>
 

</table>


<p><%= link_to 'Cadastrar Usuario', new_user_path %></p>
<p><%#= link_to "Acerva-PE by Robobier", controller: "root_path" %></p>
