<% provide(:title, 'Sign up') %>
<h1>New User / Sign up</h1>

<%= render 'form' %>

<p><%= link_to "Listar Usuarios", controller: "users" %></p>
<p><%#= link_to "Acerva-PE by Robobier", controller: "root_path" %></p>
