<%= image_tag 'logo_AcervaPE.jpg' %>
<h1>ACERVA-PE</h1>
<p><%= link_to "Acerva-PE by Robobier", controller: "welcome" %></p>
<div align="right">
<%= link_to 'Cadastrar', new_user_path %>
<p><%= link_to "Listar Usuarios", controller: "users" %></p>
</div>
